decorator==4.0.11
defusedxml==0.5.0
Django==1.10.6
django-bootstrap-form==3.2.1
django-extensions==1.7.7
django-showurls==1.0.1
ipython==5.3.0
ipython-genutils==0.2.0
oauthlib==2.0.1
olefile==0.44
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
PyJWT==1.4.2
pyparsing==2.1.10
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2016.10
requests==2.13.0
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
-e git+https://github.com/mariocesar/sorl-thumbnail.git@7ce76bc1ef798a63cbf89b5df83de4da4b12e98d#egg=sorl_thumbnail
traitlets==4.3.2
wcwidth==0.1.7

