<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Gear Surff</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li id="topNavLiHome" class="nav-li"><a href="/account/login">Login</a></li>
        <li id="topNavLiAbout" class="nav-li"><a href="/account/register">Register</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
  <script>
    window.onload = function() {
      console.log();
        if(window.location.pathname == '/about') {
          $('#topNavLiAbout').addClass('active');
        } else {
          $('#topNavLiHome').addClass('active');
        }
    }
   
  </script>
</nav>