{% extends "base.html" %}

{% block title %}Gear Surff{% endblock %}

{% block content %}

<div class="container-fluid">
<h1>Sign in</h1>
{{ user_form.non_field_errors }}
{{ profile_form.non_field_errors }}
<form action="/core/sign_in" method="post">
    {% csrf_token %}
    {% for field in user_form %}
    {{field.errors }}
     <div class="form-group">
{{ field.label_tag }}
<input type="text" class="form-control" id="{{field.label}}"
        name="{{field.label}}" 
        {% if field.value %}
        value="{{field.value}}"
        {%endif%}
        />
    </div>
    {% endfor %}
    <hr>
 {% for field in profile_form %}
 {{field.errors }}
     <div class="form-group">
{{ field.label_tag }}
<input type="text" class="form-control" id="{{field.label}}" 
        name="{{field.label}}" 
        {% if field.value %}
        value="{{field.value}}"
        {%endif%}
        />
    </div>
    {% endfor %}

    <input type="submit" value="Submit" />
</form>
</div>
{% endblock %}