{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
          <div class="panel-body">
            <h4>Options</h4>
            <ul class="list-unstyled">
              <li><a href="{% url "account:edit" %}">edit profile</a></li>
              <li><a href="{% url "account:password_change" %}">change password</a></li>
            </ul>
          </div>
      </div>
      <div class="panel panel-default" style="min-height: 30em">
          <div class="panel-body">
            <h4>What's happening</h4>
            <div id="action-list">
              <hr>
              {% for action in actions %}
              {% include "actions/action/detail.html" %}
              <hr>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-8">
      <h1>Dashboard</h1>

      {% with total_images_created=request.user.images_created.count %}
      <p>Welcome to your dashboard. </p>
      {% endwith %}


    </div>
  </div>

</div>

{% endblock %}